    {% extends "extendtemplate.html" %}
    {% block content %}
    <header class="home-header">
    <div class="container">
    <h2 id="head"><strong>RED CLONE</strong></h2>
    <br><br>
    </div>
    </header>
    <div class="container ">
    <h3>Categories</h3>
    <!-- <br> -->
    <div class="card-deck mx-auto">
            <div class="col lg-4">
                <div class="card h-100 bordershadow p-2 ">
                    <img src="static/default.jpeg" class="card-img-top" alt="Anime" height=250px>
                    <div class="card-body home-card">
                      <h4><a href="{{ url_for('anime') }}" class="text-primary stretched-link">Anime:</a></h4>
                      <p class="card-text">Anime world, Memes, links, fan-art, and much more.</p>
                    </div>
                </div>
            </div>
            <div class="col lg-4">
                <div class="card bordershadow p-2">
                    <img src="static/cat.png" class="card-img-top" alt="animals" height=250px>
                    <div class="card-body home-card">
                        <h4><a href="{{ url_for('animals') }}" class="text-primary stretched-link">Animals:</a></h4>
                        <p class="card-text">Images, videos, facts, nature gone wild, etc.</p>

                    </div>
                </div>
            </div>
            <div class="col lg-4">
                <div class="card bordershadow p-2">
                    <img src="static/funny.jpeg" class="card-img-top" alt="Funny" height=250px>
                    <div class="card-body home-card">
                        <h4><a href="{{ url_for('funny') }}" class="text-primary stretched-link">Funny:</a></h4>
                        <p class="card-text">Funny clips, gifs, images, screenshots, links.</p>

                    </div>
                </div>
            </div>
        </div>
    <br>
    <div class="card-deck mx-auto">
            <div class="col lg-3">
                <div class="card bordershadow p-2">
                  <img src="static/download.jpeg" class="card-img-top" alt="Programming" height=250px>
                  <div class="card-body home-card">
                    <h4><a href="{{ url_for('programming') }}" class="text-primary stretched-link">Programming/CS:</a></h4>
                    <p class="card-text">Programming links, News, blog posts, projects, etc.</p>
                  </div>
                  </div>
            </div>
            <div class="col lg-3">
                <div class="card bordershadow p-2">
                  <img src="static/movies.png" class="card-img-top" alt="Movies" height=250px>
                  <div class="card-body home-card">
                    <h4><a href="{{ url_for('movies') }}" class="text-primary stretched-link">Movies:</a></h4>
                    <p class="card-text">Eveything that involves the world of Movies.</p>
                  </div>
                </div>
              </div>
              <div class="col lg-3">
                  <div class="card bordershadow p-2">
                      <img src="static/tvshows.jpg" class="card-img-top" alt="TV Shows/Series" height=250px>
                      <div class="card-body home-card">
                          <h4><a href="{{ url_for('sns') }}" class="text-primary stretched-link">Shows-n-Series:</a></h4>
                          <p class="card-text">Everything related to Web Series or TV Shows/Series.</p>
                      </div>
                  </div>
              </div>
          </div>
    <br>
    <div class="card-deck mx-auto">
        <div class="col lg-4">
        <div class="card bordershadow p-2">
          <img src="static/tech.jpeg" class="card-img-top" alt="technology" height=250px>
          <div class="card-body home-card">
             <h4><a href="{{ url_for('technology') }}" class="text-primary stretched-link">Technology:</a></h4>
            <p class="card-text">Everything related to Technologies news and stuff.</p>
        </div>
        </div>
        </div>
        <div class="col lg-4">
        <div class="card bordershadow p-2">
          <img src="static/game.jpg" class="card-img-top" alt="gaming" height=250px>
          <div class="card-body home-card">
             <h4><a href="{{ url_for('gaming') }}" class="text-primary stretched-link">Gaming:</a></h4>
            <p class="card-text">Everything related to gaming and stuff.</p>
          </div>
      </div>
        </div>
        <div class="col lg-4">
        <div class="card bordershadow p-2">
          <img src="static/nsfw.jpeg" class="card-img-top" alt="nsfw" height=250px>
          <div class="card-body home-card">
             <h4><a href="{{ url_for('nsfw') }}" class="text-primary stretched-link">NSFW:</a></h4>
            <p class="card-text">Not safe for work.</p>
          </div>
      </div>
        </div>
    </div>
    <br><br><br>
    <hr>
    <p align=center>© 2020 Copyright: Ayush verma</p>
    <br>
    </div>
    {% endblock content %}
