{% extends "extendtemplate.html" %}
{% block content %}
<div class="container">
<h1>About</h1>
<br>
    <p>
    <a href="https://flask.palletsprojects.com/" target=_blank>Flask</a> web framework project for learning purpose,
    consists of <a href="https://www.reddit.com" target=_blank>reddit</a> like features.
    Home page has the links to pages that consists of posts specific to that category.
    <br>
    {% if current_user.is_anonymous %}
        You can create posts too, if you have an <a href="{{ url_for('register') }}">account</a>.
    {% endif %}
    </p>
</div>
{% endblock content %}
