{% extends "extendtemplate.html" %}
{% block content %}
<div class="container">
    <form class="" action="#" method="post" enctype='multipart/form-data'>
        <fieldset class="form-group">
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            {% if legend == title %}
            <div class="form-group">
                {{ form.title.label }}
                    {{ form.title(class='text-muted form-control form-control-lg') }}
                    <br>
            </div>
            {% else %}
            <div class="form-group">
                {% if form.title.errors %}
                    {{ form.title(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class='form-control form-control-lg', onkeyup="textCounter(this,'counter',300);", id="message", onkeydown="return event.key != 'Enter';", placeholder='An interesting title') }}
                    <small class="text-muted">Characters remaining:
                        <input disabled id="counter">
                    </small>
                    <br>
                {% endif %}
            </div>
            {% endif %}
            <div class="form-group">
                {% if form.content.errors %}
                    {{ form.content(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                    </div>
                    {% endfor %}
                {% else %}
                    {{ form.content(class='form-control form-control-lg', placeholder='(Optional)') }}
                {% endif %}
            </div>
            {% if legend != title %}
                <div class="form-group">
                    {{ form.image_post.label() }}
                    {{ form.image_post(class="form-control-file") }}
                    {% if form.image_post.errors %}
                        {% for error in form.image_post.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock content %}
