{% extends "extendtemplate.html" %}
{% block content %}
<div class="container-for">
  <div class="fixed-for header-border"></div>
  <div class="flex-item-for category-page">
      {% if _category == 'sns' %}
          Series-N-Shows
      {% else %}
          {{ _category.capitalize() }}
      {% endif %}
  </div>
</div>
<div class="container">
<a class="create create-white" href="{{ url_for('new_post', _for=_category) }}">Create post</a>
<small style="color: white;margin-left: 40px;">Sorted by Latest</small>
<br><br>
{% for post in posts.items %}
    <div id="hoverpost">
        <div style="margin: 5px 5px 0px 10px;">
            <div style="float:left">
                <li style="list-style:none;"><a href="{{ url_for('like_action', post_id=post.id, action='like') }}" title="like"><i class='fa fa-lg fa-arrow-up'></i></a></li>
                {% if post.likes.count() %}
                    {% if current_user.is_authenticated and current_user.has_liked_post(post) %}
                        <li style="list-style:none; color:red;">&nbsp;{{ post.likes.count() }}</li>
                    {% else %}
                        <li style="list-style:none;">&nbsp;{{ post.likes.count() }}</li>
                    {% endif %}
                {% endif %}
                <li style="list-style:none;"><a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}" title="unlike"><i class='fa fa-lg fa-arrow-down'></i></a></li>
            </div>
                &nbsp;&nbsp;<small class="text-muted"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image) }}" alt="author image" width=20 height=20>
                Posted by <a class="mr-1" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>on {{post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <div style="margin: 5px 5px 10px 50px;">
            <div class="article-title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title[:200] }}</a></div>
            {% if post.image_post %}
                {% if post.image_post.endswith('mp4') or post.image_post.endswith('webm') %}
                    <div style="background-color:black" align=center class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ url_for('static', filename='profile_pics/'+ post.image_post) }}" autoplay=false></iframe>
                    </div>
                    <br>
                {% elif post.image_post.endswith('mp3') or post.image_post.endswith('wav') %}
                    <div style="width:100%; max-width: 600px">
                        <audio controls loop>
                          <source src="{{ url_for('static', filename='profile_pics/'+ post.image_post) }}" type="audio/mpeg">
                        </audio>
                    </div>
                {% else %}
                    <div align=center style="background-color:black">
                        <a href="{{ url_for('post', post_id=post.id) }}"><img style="max-width:700px;" src="{{ url_for('static', filename='profile_pics/'+ post.image_post) }}" alt="image post"></a>
                    </div>
                        <br>
                {% endif %}
            {% endif %}
            {% if post.content %}
                {% if post.content|length > 228 %}
                    <pre>{{ post.content[:228] }}...</pre>
                {% else %}
                    <pre>{{ post.content }}</pre>
                {% endif %}
            {% endif %}
            <hr width=98%>
            <button class="btn btn-sm btn-light"><a href="{{ url_for('post', post_id=post.id) }}" class="text-muted">Comments</button>
    </div>
    </div>
{% endfor %}
<br><br>
{% if posts.total > 10 %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
            <div style="margin-left: 10px">
                <a class="btn btn-info mb-4" href="{{ url_for(_category, page=page_num) }}">{{ page_num }}</a>
            </div>
            {% else %}
            <div style="margin-left: 10px"class="">

                <a class="btn btn-outline-info mb-4" href="{{ url_for(_category, page=page_num) }}">{{ page_num }}</a>
            </div>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endif %}
</div>
{% endblock content %}
